* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fbfaf5;
}

a,
button {
  border: none;
  cursor: pointer;
}

::-moz-selection {
  color: rgb(15, 15, 75);
  background-color: #ffa621;
}

::selection {
  color: rgb(15, 15, 75);
  background-color: #ffa621;
}

body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-track {
  background: #fbfaf5;
}
body::-webkit-scrollbar-thumb {
  background: #ffa621;
  border-radius: 10px;
}
body.dark::-webkit-scrollbar-track {
  background: #0a0f1b;
}

body {
  cursor: url("https://eneskarapinar.github.io/aek/img/icon/cursor/l-default.svg"), auto;
}
body a,
body button {
  cursor: url("https://eneskarapinar.github.io/aek/img/icon/cursor/l-link.svg"), pointer;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p {
  cursor: url("https://eneskarapinar.github.io/aek/img/icon/cursor/l-text.svg"), auto;
}
body.dark {
  cursor: url("https://eneskarapinar.github.io/aek/img/icon/cursor/d-default.svg"), auto;
}
body.dark a,
body.dark button {
  cursor: url("https://eneskarapinar.github.io/aek/img/icon/cursor/d-link.svg"), pointer;
}
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6,
body.dark p {
  cursor: url("https://eneskarapinar.github.io/aek/img/icon/cursor/d-text.svg"), auto;
}

#root .scroll-top {
  position: fixed;
  z-index: 99999;
  bottom: 50px;
  right: -60px;
  cursor: url("https://eneskarapinar.github.io/aek/img/icon/cursor/l-link.svg"), pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  overflow: hidden;
  background: #ffa621;
  border: 2px solid #0a0f1b;
  transition: all 0.4s ease-in-out 0s;
  opacity: 0;
}
#root .scroll-top span {
  width: 20px;
  display: flex;
}
#root .scroll-top span svg {
  fill: #0a0f1b;
}
#root .scroll-top.show {
  opacity: 1;
  right: 50px;
}

@media screen and (max-width: 992px) {
  #root .scroll-top {
    bottom: 30px;
    right: -40px;
    width: 40px;
    height: 40px;
  }
  #root .scroll-top span {
    width: 15px;
  }
  #root .scroll-top.show {
    right: 30px;
  }
}
@media screen and (max-width: 480px) {
  #root .scroll-top {
    bottom: 60px;
    right: -40px;
    width: 35px;
    height: 35px;
  }
  #root .scroll-top span {
    width: 12px;
  }
  #root .scroll-top.show {
    right: 5px;
  }
}
#loader-container {
  background-color: #fbfaf5;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 9999999;
  cursor: none;
}
#loader-container #loader {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#loader-container #loader #circles {
  height: 100px;
  width: 100px;
  border-bottom: 3px solid rgba(255, 166, 33, 0.5019607843);
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
#loader-container #loader #circles:before {
  border-top: 3px solid #ffa621;
  height: 90px;
  width: 90px;
  margin: 5px;
  border-radius: 50%;
  display: inline-block;
  content: "";
  animation: spin 4s linear infinite;
}
#loader-container #loader #circles:after {
  border-left: 3px solid rgba(255, 166, 33, 0.2745098039);
  height: 80px;
  width: 80px;
  margin: 15px 10px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  display: inline-block;
  content: "";
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body #root nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
body #root nav .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 45px 50px;
  transition: 400ms all;
}
body #root nav .navbar .logo {
  width: 115px;
  height: 30px;
  overflow: hidden;
}
body #root nav .navbar .logo a {
  width: 100%;
  height: 100%;
  display: flex;
}
body #root nav .navbar .logo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body #root nav .navbar .logo a img:nth-child(1) {
  display: block;
}
body #root nav .navbar .logo a img:nth-child(2) {
  display: none;
}
body #root nav .navbar .content {
  display: flex;
  align-items: center;
  gap: 50px;
}
body #root nav .navbar .content .pages {
  display: flex;
  gap: 30px;
}
body #root nav .navbar .content .pages .page {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
body #root nav .navbar .content .pages .page h6 {
  cursor: url("https://eneskarapinar.github.io/aek/img/icon/cursor/l-link.svg"), pointer;
  font-size: 20px;
  font-weight: 500;
  color: #0a0f1b;
  transition: 400ms;
}
body #root nav .navbar .content .pages .page span.line {
  width: 100%;
  height: 2px;
  margin-left: -200%;
  background-color: #ffa621;
  transition: 400ms all;
}
body #root nav .navbar .content .pages .page.active h6 {
  color: #ffa621;
}
body #root nav .navbar .content .pages .page.active span.line {
  width: 100%;
  height: 2px;
  margin-left: 0;
  background-color: #ffa621;
}
body #root nav .navbar .content .pages .page:hover span.line {
  margin-left: -100%;
}
body #root nav .navbar .content .settings {
  display: flex;
  align-items: center;
  gap: 20px;
}
body #root nav .navbar .content .settings .languages {
  cursor: url("https://eneskarapinar.github.io/aek/img/icon/cursor/l-link.svg"), pointer;
  width: 30px;
  height: 30px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
body #root nav .navbar .content .settings .languages span {
  font-size: 20px;
  font-weight: 700;
  color: #ffa621;
  position: absolute;
  top: 0;
  transition: 400ms all;
}
body #root nav .navbar .content .settings .languages span:nth-child(1) {
  left: 0;
}
body #root nav .navbar .content .settings .languages span:nth-child(2) {
  left: 100%;
}
body #root nav .navbar .content .settings .dark-light-mode {
  cursor: url("https://eneskarapinar.github.io/aek/img/icon/cursor/l-link.svg"), pointer;
  width: 25px;
  height: 25px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
body #root nav .navbar .content .settings .dark-light-mode svg {
  fill: #ffa621;
  height: 25px;
  position: absolute;
  top: 0;
  transition: 400ms all;
}
body #root nav .navbar .content .settings .dark-light-mode svg:nth-child(1) {
  left: 0;
}
body #root nav .navbar .content .settings .dark-light-mode svg:nth-child(2) {
  left: 100%;
}
body #root nav .navbar.change {
  background-color: #fbfaf5;
  padding: 20px 50px;
  box-shadow: 0px 0px 5px rgba(10, 15, 27, 0.25);
  transition: 400ms;
}
body #root .mobile-nav {
  display: none;
}
body.en nav .navbar .settings .languages span:nth-child(1) {
  left: -100% !important;
}
body.en nav .navbar .settings .languages span:nth-child(2) {
  left: 0 !important;
}
body.dark #root nav .navbar .content .pages .page h6 {
  cursor: url("https://eneskarapinar.github.io/aek/img/icon/cursor/d-link.svg"), pointer;
}
body.dark #root nav .navbar .settings .languages {
  cursor: url("https://eneskarapinar.github.io/aek/img/icon/cursor/d-link.svg"), pointer;
}
body.dark #root nav .navbar .settings .dark-light-mode {
  cursor: url("https://eneskarapinar.github.io/aek/img/icon/cursor/d-link.svg"), pointer;
}
body.dark #root nav .navbar .settings .dark-light-mode svg:nth-child(1) {
  left: -100%;
}
body.dark #root nav .navbar .settings .dark-light-mode svg:nth-child(2) {
  left: 0;
}

@media screen and (max-width: 992px) {
  #root nav .navbar .logo {
    width: 80px;
    height: 20px;
  }
  #root nav .navbar .content {
    gap: 20px;
  }
  #root nav .navbar .content .pages {
    gap: 15px;
  }
  #root nav .navbar .content .pages .page h6 {
    font-size: 16px;
  }
  #root nav .navbar .content .settings {
    gap: 10px;
  }
}
@media screen and (max-width: 768px) {
  body #root .mobile-nav {
    background-color: #0a0f1b;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 100px 10px 50px 10px;
    border-radius: 0 10px 10px 0;
    z-index: 99;
    transition: 400ms;
  }
  body #root .mobile-nav .logo {
    width: -moz-max-content;
    width: max-content;
    height: 30px;
    overflow: hidden;
    transform: rotate(270deg);
  }
  body #root .mobile-nav .logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  body #root .mobile-nav .logo img:nth-child(1) {
    display: block;
  }
  body #root .mobile-nav .logo img:nth-child(2) {
    display: none;
  }
  body #root .mobile-nav .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  body #root .mobile-nav .content a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  body #root .mobile-nav .content a svg {
    width: 25px;
    fill: #fbfaf5;
    transition: 400ms;
  }
  body #root .mobile-nav .content a.active {
    background-color: #ffa621;
  }
  body #root .mobile-nav .content .settings {
    position: relative;
  }
  body #root .mobile-nav .content .settings .dark-lang {
    position: absolute;
    display: flex;
    top: 0;
    background-color: #0a0f1b;
    height: 40px;
    align-items: center;
    gap: 20px;
    padding: 5px 10px;
    border-radius: 0 20px 20px 0;
    left: -300%;
    transition: 400ms all;
  }
  body #root .mobile-nav .content .settings .dark-lang .languages {
    display: flex;
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: relative;
  }
  body #root .mobile-nav .content .settings .dark-lang .languages span {
    cursor: url("https://eneskarapinar.github.io/aek/img/icon/cursor/l-link.svg"), pointer;
    font-size: 20px;
    font-weight: 700;
    color: #fbfaf5;
    position: absolute;
    top: 0;
    transition: 400ms all;
  }
  body #root .mobile-nav .content .settings .dark-lang .languages span:nth-child(1) {
    left: 0;
  }
  body #root .mobile-nav .content .settings .dark-lang .languages span:nth-child(2) {
    left: 100%;
  }
  body #root .mobile-nav .content .settings .dark-lang .dark-light-mode {
    display: flex;
    width: 25px;
    height: 25px;
    overflow: hidden;
    position: relative;
  }
  body #root .mobile-nav .content .settings .dark-lang .dark-light-mode svg {
    cursor: url("https://eneskarapinar.github.io/aek/img/icon/cursor/l-link.svg"), pointer;
    width: 25px;
    fill: #fbfaf5;
    position: absolute;
    top: 0;
    transition: 400ms all;
  }
  body #root .mobile-nav .content .settings .dark-lang .dark-light-mode svg:nth-child(1) {
    left: 0;
  }
  body #root .mobile-nav .content .settings .dark-lang .dark-light-mode svg:nth-child(2) {
    left: 100%;
  }
  body #root .mobile-nav .content .settings.active .dark-lang {
    left: 49px;
  }
  body #root nav {
    display: none;
  }
  body.en .mobile-nav .content .settings .dark-lang .languages span:nth-child(1) {
    left: -100%;
  }
  body.en .mobile-nav .content .settings .dark-lang .languages span:nth-child(2) {
    left: 0;
  }
  body.dark .mobile-nav .content .settings .dark-lang .languages span {
    cursor: url("https://eneskarapinar.github.io/aek/img/icon/cursor/d-link.svg"), pointer;
  }
  body.dark .mobile-nav .content .settings .dark-lang .dark-light-mode svg {
    cursor: url("https://eneskarapinar.github.io/aek/img/icon/cursor/d-link.svg"), pointer;
  }
  body.dark .mobile-nav .content .settings .dark-lang .dark-light-mode svg:nth-child(1) {
    left: -100%;
  }
  body.dark .mobile-nav .content .settings .dark-lang .dark-light-mode svg:nth-child(2) {
    left: 0;
  }
}
@media screen and (max-width: 480px) {
  #root .mobile-nav {
    top: auto !important;
    bottom: 0 !important;
    width: 100vw !important;
    height: -moz-max-content !important;
    height: max-content !important;
    flex-direction: row !important;
    padding: 10px !important;
    border-radius: 10px 10px 0 0 !important;
  }
  #root .mobile-nav .logo {
    display: none;
  }
  #root .mobile-nav .content {
    flex-direction: row !important;
    justify-content: space-between !important;
    width: 100% !important;
    gap: 0 !important;
  }
  #root .mobile-nav .content a {
    width: 30px !important;
    height: 30px !important;
  }
  #root .mobile-nav .content a svg {
    width: 20px !important;
  }
  #root .mobile-nav .content .settings .dark-lang {
    flex-direction: column !important;
    bottom: -300% !important;
    top: auto !important;
    left: auto !important;
    right: -10px !important;
    height: -moz-max-content !important;
    height: max-content !important;
    padding: 10px !important;
    border-radius: 10px 10px 0 0 !important;
  }
  #root .mobile-nav .content .settings .dark-lang .languages {
    width: 25px !important;
    height: 25px !important;
  }
  #root .mobile-nav .content .settings .dark-lang .languages span {
    font-size: 18px !important;
  }
  #root .mobile-nav .content .settings .dark-lang .dark-light-mode {
    width: 20px !important;
    height: 20px !important;
  }
  #root .mobile-nav .content .settings .dark-lang .dark-light-mode svg {
    width: 20px !important;
  }
  #root .mobile-nav .content .settings.active .dark-lang {
    bottom: 100% !important;
    left: auto !important;
    right: -10px !important;
  }
}
#root .homepage {
  max-width: 100vw;
  height: 100vh;
  background-color: #fbfaf5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 150px 200px 50px 50px;
  transition: 400ms;
}
#root .homepage .text {
  max-width: 560px;
}
#root .homepage .text .top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
#root .homepage .text .top .line {
  width: 40%;
  height: 2px;
  background-color: #ffa621;
}
#root .homepage .text .top .typewrite {
  font-size: 20px;
  font-weight: 500;
  color: #ffa621;
}
#root .homepage .text .top .typewrite .wrap {
  border-right: 0.08em solid #ffa621;
}
#root .homepage .text .bottom h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0.1em;
  color: #0a0f1b;
  transition: 400ms;
}
#root .homepage .img {
  position: relative;
  width: 380px;
  height: 500px;
  overflow: hidden;
}
#root .homepage .img .shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(359.93deg, #fbfaf5 0.06%, rgba(251, 250, 245, 0) 36.52%);
  transition: 400ms;
}
#root .homepage .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1200px) {
  #root .homepage .img {
    width: 100%;
    height: 500px;
  }
}
@media screen and (max-width: 992px) {
  #root .homepage {
    padding: 150px 50px 50px 50px;
    gap: 20px;
  }
  #root .homepage .text .bottom h1 {
    font-size: 40px;
  }
  #root .homepage .img {
    width: 100%;
    height: 350px;
  }
}
@media screen and (max-width: 768px) {
  #root .homepage {
    flex-direction: column-reverse;
    padding: 70px 50px 10px 110px;
    justify-content: flex-end;
    gap: 50px;
  }
  #root .homepage .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #root .homepage .text .top {
    flex-direction: column-reverse;
    gap: 0;
  }
  #root .homepage .text .top .line {
    width: 70%;
  }
  #root .homepage .text .bottom h1 {
    font-size: 30px;
    text-align: center;
    line-height: 45px;
  }
  #root .homepage .img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(257.03deg, #ffa621 0%, #decba4 100%);
    border: 2px solid #0a0f1b;
    transition: 400ms;
  }
  #root .homepage .img .shadow {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  #root .homepage {
    padding: 70px 10px 0 10px;
  }
}
#root .about {
  min-height: 100vh;
  padding: 200px 50px 100px 50px;
  background-color: #fbfaf5;
}
#root .about .personel-info {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#root .about .personel-info .hood {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#root .about .personel-info .hood h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #0a0f1b;
}
#root .about .personel-info .hood h2 span {
  color: #ffa621;
}
#root .about .personel-info .hood .underline {
  width: 80px;
  height: 2px;
  background-color: #ffa621;
}
#root .about .personel-info .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#root .about .personel-info .content .right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#root .about .personel-info .content .right h4 {
  font-size: 16px;
  font-weight: 700;
  color: #ffa621;
  line-height: 24px;
}
#root .about .personel-info .content .right h4 span {
  font-weight: 400;
  color: #0a0f1b;
}
#root .about .personel-info .content .right h4 span a {
  color: #0a0f1b;
}
#root .about .personel-info .content .right .top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#root .about .personel-info .content .right .top .name-lastname {
  display: flex;
  gap: 180px;
}
#root .about .personel-info .content .right .top .birthday-country {
  display: flex;
  gap: 200px;
}
#root .about .personel-info .content .right .bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#root .about .personel-info .content .left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#root .about .personel-info .content .left .top {
  display: flex;
  gap: 30px;
}
#root .about .personel-info .content .left .top h4 {
  width: 100px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.15em;
  color: #0a0f1b;
}
#root .about .personel-info .content .left .top h5 {
  font-size: 40px;
  font-weight: 700;
  color: #ffa621;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#root .about .personel-info .content .left .top h5 span {
  font-size: 20px;
  font-weight: 500;
  color: #0a0f1b;
}
#root .about .personel-info .content .left .top .experience {
  border: 2px solid #ffa621;
  border-radius: 5px;
  padding: 10px 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#root .about .personel-info .content .left .top .project {
  border: 2px solid #ffa621;
  border-radius: 5px;
  padding: 10px 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#root .about .personel-info .content .left .bottom a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.15em;
  color: #0a0f1b;
  border: 2px solid #ffa621;
  border-radius: 5px;
  padding: 10px;
}
#root .about .skills {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#root .about .skills .hood {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#root .about .skills .hood h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #0a0f1b;
}
#root .about .skills .hood .underline {
  width: 140px;
  height: 2px;
  background-color: #ffa621;
}
#root .about .skills .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}
#root .about .skills .content .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#root .about .skills .content .skill .top {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root .about .skills .content .skill .top h5 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.15em;
  color: #0a0f1b;
  text-align: center;
}
#root .about .skills .content .skill .top h6 {
  font-size: 16px;
  font-weight: 500;
  color: #ffa621;
  text-align: center;
}
#root .about .skills .content .skill .bottom {
  width: 15px;
  height: 200px;
  position: relative;
}
#root .about .skills .content .skill .bottom .circle {
  width: 20px;
  height: 20px;
  background-color: #ffa621;
  border: 2px solid #fbfaf5;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: -3px;
  z-index: 3;
}
#root .about .skills .content .skill .bottom .background {
  width: 100%;
  background-color: #ffa621;
  border-radius: 50px;
  position: absolute;
  bottom: 0;
  z-index: 2;
}
#root .about .skills .content .skill .bottom .border {
  width: 100%;
  height: 100%;
  border: 1px solid #ffa621;
  border-radius: 50px;
  position: absolute;
  z-index: 1;
}
#root .about .skills .content .skill.html .bottom .circle {
  bottom: 170px;
}
#root .about .skills .content .skill.html .bottom .background {
  height: 180px;
}
#root .about .skills .content .skill.css .bottom .circle {
  bottom: 180px;
}
#root .about .skills .content .skill.css .bottom .background {
  height: 190px;
}
#root .about .skills .content .skill.scss .bottom .circle {
  bottom: 150px;
}
#root .about .skills .content .skill.scss .bottom .background {
  height: 160px;
}
#root .about .skills .content .skill.js .bottom .circle {
  bottom: 90px;
}
#root .about .skills .content .skill.js .bottom .background {
  height: 100px;
}
#root .about .skills .content .skill.jquery .bottom .circle {
  bottom: 90px;
}
#root .about .skills .content .skill.jquery .bottom .background {
  height: 100px;
}
#root .about .skills .content .skill.vue .bottom .circle {
  bottom: 30px;
}
#root .about .skills .content .skill.vue .bottom .background {
  height: 40px;
}

@media screen and (max-width: 992px) {
  #root .about {
    padding: 200px 20px 100px 20px;
  }
  #root .about .personel-info .content {
    gap: 20px;
  }
  #root .about .personel-info .content .right .top .name-lastname {
    gap: 20px;
  }
  #root .about .personel-info .content .right .top .birthday-country {
    gap: 40px;
  }
  #root .about .personel-info .content .left {
    gap: 10px;
  }
  #root .about .personel-info .content .left .top {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width: 768px) {
  #root .about {
    padding: 70px 50px 50px 110px;
  }
  #root .about .personel-info .content {
    flex-direction: column;
    align-items: flex-start;
  }
  #root .about .personel-info .content .left {
    width: 100%;
  }
  #root .about .personel-info .content .left .top .experience {
    width: 100%;
  }
  #root .about .personel-info .content .left .top .project {
    width: 100%;
  }
  #root .about .skills .content {
    row-gap: 50px;
    gap: 10px;
  }
  #root .about .skills .content .skill .top h5 {
    width: 100px;
  }
}
@media screen and (max-width: 480px) {
  #root .about {
    padding: 70px 10px 70px 10px;
  }
  #root .about .personel-info .content .right h4 {
    font-size: 12px;
  }
  #root .about .personel-info .content .left .top h4 {
    font-size: 14px;
  }
  #root .about .personel-info .content .left .bottom a {
    font-size: 14px;
  }
  #root .about .skills .content .skill .top h5 {
    font-size: 14px;
  }
  #root .about .skills .content .skill .top h6 {
    font-size: 14px;
  }
}
#root .projects-s {
  max-width: 100vw;
  min-height: 100vh;
  padding: 200px 50px 100px 50px;
  background-color: #fbfaf5;
}
#root .projects-s .filter-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#root .projects-s .filter-links .link {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#root .projects-s .filter-links .link h6 {
  cursor: url("https://eneskarapinar.github.io/aek/img/icon/cursor/l-link.svg"), auto;
  font-size: 16px;
  font-weight: 500;
  color: #0a0f1b;
}
#root .projects-s .filter-links .link .underline {
  width: 100%;
  height: 2px;
  background-color: #ffa621;
  margin-left: -100%;
  transition: 400ms all;
}
#root .projects-s .filter-links .link:hover .underline {
  margin-left: -50%;
}
#root .projects-s .filter-links .link.active h6 {
  color: #ffa621;
}
#root .projects-s .filter-links .link.active .underline {
  margin-left: 0;
}
#root .projects-s .projects-modals .projects {
  margin-top: 100px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
#root .projects-s .projects-modals .projects .project-box {
  display: none;
  width: 25vw;
  aspect-ratio: 3/2;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 8px rgba(10, 15, 27, 0.25);
  position: relative;
}
#root .projects-s .projects-modals .projects .project-box a {
  display: grid;
  height: 100%;
}
#root .projects-s .projects-modals .projects .project-box a .img {
  overflow: hidden;
}
#root .projects-s .projects-modals .projects .project-box a .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#root .projects-s .projects-modals .projects .project-box a .hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #0a0f1b;
  background: linear-gradient(88.74deg, rgba(10, 15, 27, 0.4) 20.91%, rgba(10, 15, 27, 0.1) 81%);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  transition: 400ms all;
}
#root .projects-s .projects-modals .projects .project-box a .hover.dark {
  color: #fbfaf5;
}
#root .projects-s .projects-modals .projects .project-box:hover .hover {
  left: 0;
}
#root .projects-s .projects-modals .projects .project-box.active {
  display: block;
}
#root .projects-s .projects-modals .modals {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(10, 15, 27, 0.2);
  overflow: hidden;
  padding: 20px;
  display: none;
  opacity: 0;
  transition: 400ms all;
}
#root .projects-s .projects-modals .modals .modal {
  width: 40vw;
  height: 95%;
  background-color: #fbfaf5;
  position: absolute;
  top: 0;
  left: -100%;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  transition: 400ms all;
}
#root .projects-s .projects-modals .modals .modal .img {
  overflow: hidden;
  border-radius: 10px;
  aspect-ratio: 16/9;
}
#root .projects-s .projects-modals .modals .modal .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#root .projects-s .projects-modals .modals .modal .img video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#root .projects-s .projects-modals .modals .modal .content {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-between;
}
#root .projects-s .projects-modals .modals .modal .content .hood {
  display: flex;
  flex-direction: column;
}
#root .projects-s .projects-modals .modals .modal .content .hood h2 {
  font-size: 24px;
  font-weight: 700;
  color: #0a0f1b;
}
#root .projects-s .projects-modals .modals .modal .content .hood h2 span {
  color: #ffa621;
}
#root .projects-s .projects-modals .modals .modal .content .hood .underline {
  height: 2px;
  width: 50px;
  background: #ffa621;
}
#root .projects-s .projects-modals .modals .modal .content .substance {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#root .projects-s .projects-modals .modals .modal .content .substance h4 {
  font-size: 16px;
  font-weight: 700;
  color: #ffa621;
}
#root .projects-s .projects-modals .modals .modal .content .substance h4 span {
  font-weight: 400;
  color: #0a0f1b;
}
#root .projects-s .projects-modals .modals .modal .content .substance h4 span a {
  color: #0a0f1b;
  text-decoration: underline;
}
#root .projects-s .projects-modals .modals .modal .content .btns {
  display: flex;
  gap: 20px;
}
#root .projects-s .projects-modals .modals .modal .content .btns a {
  display: flex;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.15em;
  line-height: 24px;
  gap: 10px;
}
#root .projects-s .projects-modals .modals .modal .content .btns a span {
  display: flex;
}
#root .projects-s .projects-modals .modals .modal .content .btns a span svg {
  width: 18px;
}
#root .projects-s .projects-modals .modals .modal .content .btns a:nth-child(1) {
  border: 2px solid #ffa621;
  color: #0a0f1b;
}
#root .projects-s .projects-modals .modals .modal .content .btns a:nth-child(1) span svg {
  fill: #0a0f1b;
}
#root .projects-s .projects-modals .modals .modal .content .btns a:nth-child(2) {
  background-color: #ffa621;
  color: #fbfaf5;
}
#root .projects-s .projects-modals .modals .modal .content .btns a:nth-child(2) span svg {
  fill: #fbfaf5;
}
#root .projects-s .projects-modals .modals.active {
  display: block;
  opacity: 1;
}
#root .projects-s .projects-modals .modals.active .modal.active {
  left: 0;
}

@media screen and (max-width: 992px) {
  #root .projects-s .projects-modals .projects .project-box {
    width: 40vw;
  }
}
@media screen and (max-width: 768px) {
  #root .projects-s {
    padding: 70px 50px 50px 110px;
  }
  #root .projects-s .filter-links {
    gap: 25px;
  }
  #root .projects-s .filter-links .link h6 {
    font-size: 12px;
  }
  #root .projects-s .projects-modals .projects .project-box {
    width: 100vw;
  }
  #root .projects-s .projects-modals .modals .modal {
    width: 92vw;
  }
}
@media screen and (max-width: 480px) {
  #root .projects-s {
    padding: 70px 10px 70px 10px;
  }
  #root .projects-s .filter-links {
    flex-wrap: wrap;
    row-gap: 10px;
  }
  #root .projects-s .projects-modals .modals {
    padding: 0;
  }
  #root .projects-s .projects-modals .modals .modal {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
}
#root .certificates-s {
  max-width: 100vw;
  min-height: 100vh;
  padding: 200px 50px 100px 50px;
  background-color: #fbfaf5;
}
#root .certificates-s .filter-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#root .certificates-s .filter-links .link {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#root .certificates-s .filter-links .link h6 {
  cursor: url("https://eneskarapinar.github.io/aek/img/icon/cursor/l-link.svg"), auto;
  font-size: 16px;
  font-weight: 500;
  color: #0a0f1b;
}
#root .certificates-s .filter-links .link .underline {
  width: 100%;
  height: 2px;
  background-color: #ffa621;
  margin-left: -100%;
  transition: 400ms all;
}
#root .certificates-s .filter-links .link:hover .underline {
  margin-left: -50%;
}
#root .certificates-s .filter-links .link.active h6 {
  color: #ffa621;
}
#root .certificates-s .filter-links .link.active .underline {
  margin-left: 0;
}
#root .certificates-s .certificates {
  margin-top: 100px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
#root .certificates-s .certificates .certificate-box {
  display: none;
  width: 25vw;
  aspect-ratio: 3/2;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 8px rgba(10, 15, 27, 0.25);
  position: relative;
}
#root .certificates-s .certificates .certificate-box a {
  display: flex;
  height: 100%;
}
#root .certificates-s .certificates .certificate-box a .img {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#root .certificates-s .certificates .certificate-box a .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#root .certificates-s .certificates .certificate-box a .hover {
  padding: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #0a0f1b;
  background: linear-gradient(88.74deg, rgba(10, 15, 27, 0.4) 20.91%, rgba(10, 15, 27, 0.1) 81%);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  text-align: center;
  transition: 400ms all;
}
#root .certificates-s .certificates .certificate-box a .hover.dark {
  color: #fbfaf5;
}
#root .certificates-s .certificates .certificate-box:hover .hover {
  left: 0;
}
#root .certificates-s .certificates .certificate-box.active {
  display: block;
}

@media screen and (max-width: 992px) {
  #root .certificates-s .certificates .certificate-box {
    width: 40vw;
  }
}
@media screen and (max-width: 768px) {
  #root .certificates-s {
    padding: 70px 50px 50px 110px;
  }
  #root .certificates-s .filter-links {
    gap: 25px;
  }
  #root .certificates-s .filter-links .link h6 {
    font-size: 12px;
  }
  #root .certificates-s .certificates .certificate-box {
    width: 100vw;
  }
}
@media screen and (max-width: 480px) {
  #root .certificates-s {
    padding: 70px 10px 70px 10px;
  }
  #root .certificates-s .filter-links {
    flex-wrap: wrap;
    row-gap: 10px;
  }
}
#root .contact {
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #fbfaf5;
  padding: 150px 50px 100px 50px;
}
#root .contact .content {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#root .contact .content .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
#root .contact .content .right .top {
  color: #0a0f1b;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#root .contact .content .right .top svg {
  height: 20px;
  margin-top: 5px;
  fill: #0a0f1b;
}
#root .contact .content .right .top .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#root .contact .content .right .top .text h2 {
  font-size: 24px;
  font-weight: 700;
}
#root .contact .content .right .top .text h4 {
  font-size: 16px;
  font-weight: 500;
}
#root .contact .content .right .top .email, #root .contact .content .right .top .phone, #root .contact .content .right .top .adress {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}
#root .contact .content .right .bottom {
  display: flex;
  gap: 50px;
}
#root .contact .content .right .bottom a {
  height: 25px;
}
#root .contact .content .right .bottom a svg {
  height: 25px;
  fill: #0a0f1b;
}
#root .contact .content .left {
  font-size: 16px;
  line-height: 24px;
  color: #0a0f1b;
  padding: 30px 50px;
  background-color: #ffa621;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border-radius: 20px;
  width: 50vw;
  min-height: 100%;
}
#root .contact .content .left .text {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#root .contact .content .left .text h2 {
  font-size: 48px;
  line-height: 72px;
}
#root .contact .content .left .text h2::-moz-selection {
  background-color: #0a0f1b;
  color: #ffa621;
}
#root .contact .content .left .text h2::selection {
  background-color: #0a0f1b;
  color: #ffa621;
}
#root .contact .content .left .text h5 {
  font-size: 16px;
  font-weight: 500;
}
#root .contact .content .left .text h5 span svg {
  fill: #0a0f1b;
  height: 16px;
}
#root .contact .content .left .text h5::-moz-selection {
  background-color: #0a0f1b;
  color: #ffa621;
}
#root .contact .content .left .text h5::selection {
  background-color: #0a0f1b;
  color: #ffa621;
}
#root .contact .content .left form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
}
#root .contact .content .left form input, #root .contact .content .left form textarea {
  cursor: url("https://eneskarapinar.github.io/aek/img/icon/cursor/l-text.svg"), auto;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #0a0f1b;
  font-weight: 500;
  color: #0a0f1b;
}
#root .contact .content .left form input::-moz-placeholder, #root .contact .content .left form textarea::-moz-placeholder {
  color: #0a0f1b;
  opacity: 1;
}
#root .contact .content .left form input::placeholder, #root .contact .content .left form textarea::placeholder {
  color: #0a0f1b;
  opacity: 1;
}
#root .contact .content .left form input:-ms-input-placeholder, #root .contact .content .left form textarea:-ms-input-placeholder {
  color: #0a0f1b;
  opacity: 1;
}
#root .contact .content .left form input::-ms-input-placeholder, #root .contact .content .left form textarea::-ms-input-placeholder {
  color: #0a0f1b;
  opacity: 1;
}
#root .contact .content .left form input::-moz-selection, #root .contact .content .left form textarea::-moz-selection {
  background-color: #0a0f1b;
  color: #ffa621;
}
#root .contact .content .left form input::selection, #root .contact .content .left form textarea::selection {
  background-color: #0a0f1b;
  color: #ffa621;
}
#root .contact .content .left form textarea {
  resize: none;
  height: 100px;
}
#root .contact .content .left form button {
  letter-spacing: 0.15em;
  color: #fbfaf5;
  padding: 10px;
  background-color: #0a0f1b;
  font-weight: 700;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
}

@media screen and (max-width: 992px) {
  #root .contact {
    padding: 150px 50px 50px 50px;
    height: -moz-max-content;
    height: max-content;
  }
  #root .contact .content {
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
  }
  #root .contact .content .right {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #root .contact .content .right .bottom {
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
  }
  #root .contact .content .left {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  #root .contact {
    padding: 70px 50px 10px 110px;
  }
  #root .contact .content .right .top {
    gap: 30px;
  }
  #root .contact .content .right .top .text h2 {
    font-size: 20px;
  }
  #root .contact .content .right .top .text h4 {
    font-size: 12px;
  }
  #root .contact .content .right .top span {
    margin-top: 3px;
  }
  #root .contact .content .right .bottom {
    gap: 20px;
  }
  #root .contact .content .left {
    padding: 30px 20px;
  }
  #root .contact .content .left .text h2 {
    font-size: 40px;
    line-height: 60px;
  }
}
@media screen and (max-width: 480px) {
  #root .contact {
    padding: 70px 10px 70px 10px;
  }
  #root .contact .content .right .top .text h4 {
    font-size: 10px;
  }
  #root .contact .content .right .top .email, #root .contact .content .right .top .adress, #root .contact .content .right .top .phone {
    gap: 5px;
  }
  #root .contact .content .left {
    border-radius: 10px;
  }
  #root .contact .content .left .text h5 {
    font-size: 12px;
  }
  #root .contact .content .left form input, #root .contact .content .left form textarea {
    font-size: 12px;
    padding: 5px;
  }
  #root .contact .content .left form button {
    font-size: 12px;
  }
}
body.dark main nav .navbar .logo a img:nth-child(1) {
  display: none;
}
body.dark main nav .navbar .logo a img:nth-child(2) {
  display: block;
}
body.dark main nav .navbar .content .pages .page h6 {
  color: #fbfaf5;
}
body.dark main nav .navbar .content .pages .page.active h6 {
  color: #ffa621;
}
body.dark main nav .navbar.change {
  background-color: #0a0f1b;
  box-shadow: 0px 0px 5px rgba(251, 250, 245, 0.25);
}
body.dark main .homepage {
  background-color: #0a0f1b;
}
body.dark main .homepage .text .bottom h1 {
  color: #fbfaf5;
}
body.dark main .homepage .img .shadow {
  background: linear-gradient(359.93deg, #0a0f1b 0.06%, rgba(10, 15, 27, 0) 35.62%);
}
body.dark main .about {
  background-color: #0a0f1b;
}
body.dark main .about .personel-info .hood h2 {
  color: #fbfaf5;
}
body.dark main .about .personel-info .content .right h4 span {
  color: #fbfaf5;
}
body.dark main .about .personel-info .content .right h4 span a {
  color: #fbfaf5;
}
body.dark main .about .personel-info .content .left .top h4 {
  color: #fbfaf5;
}
body.dark main .about .personel-info .content .left .top h5 span {
  color: #fbfaf5;
}
body.dark main .about .personel-info .content .left .bottom a {
  color: #fbfaf5;
}
body.dark main .about .skills .hood h2 {
  color: #fbfaf5;
}
body.dark main .about .skills .content .skill .top h5 {
  color: #fbfaf5;
}
body.dark main .about .skills .content .skill .bottom .circle {
  border: 2px solid #0a0f1b;
}
body.dark main .projects-s {
  background-color: #0a0f1b;
}
body.dark main .projects-s .filter-links .link h6 {
  color: #fbfaf5;
}
body.dark main .projects-s .filter-links .link.active h6 {
  color: #ffa621;
}
body.dark main .projects-s .projects-modals .projects .project-box {
  box-shadow: 0px 0px 8px rgba(251, 250, 245, 0.25);
}
body.dark main .projects-s .projects-modals .projects .project-box a .hover {
  color: #fbfaf5;
}
body.dark main .projects-s .projects-modals .modals {
  background: rgba(251, 250, 245, 0.2);
}
body.dark main .projects-s .projects-modals .modals .modal {
  background-color: #0a0f1b;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.25);
}
body.dark main .projects-s .projects-modals .modals .modal .img {
  border: 1px solid rgba(251, 250, 245, 0.2);
}
body.dark main .projects-s .projects-modals .modals .modal .content .hood h2 {
  color: #fbfaf5;
}
body.dark main .projects-s .projects-modals .modals .modal .content .substance h4 span {
  color: #fbfaf5;
}
body.dark main .projects-s .projects-modals .modals .modal .content .substance h4 span a {
  color: #fbfaf5;
}
body.dark main .projects-s .projects-modals .modals .modal .content .btns a:nth-child(1) {
  color: #fbfaf5;
}
body.dark main .projects-s .projects-modals .modals .modal .content .btns a:nth-child(1) span svg {
  fill: #fbfaf5;
}
body.dark main .projects-s .projects-modals .modals .modal .content .btns a:nth-child(2) {
  color: #0a0f1b;
}
body.dark main .projects-s .projects-modals .modals .modal .content .btns a:nth-child(2) span svg {
  fill: #0a0f1b;
}
body.dark main .certificates-s {
  background-color: #0a0f1b;
}
body.dark main .certificates-s .filter-links .link h6 {
  color: #fbfaf5;
}
body.dark main .certificates-s .filter-links .link.active h6 {
  color: #ffa621;
}
body.dark main .certificates-s .certificates .certificate-box {
  box-shadow: 0px 0px 8px rgba(251, 250, 245, 0.25);
}
body.dark main .certificates-s .certificates .certificate-box a .hover {
  color: #fbfaf5;
}
body.dark main .contact {
  background-color: #0a0f1b;
}
body.dark main .contact .content .right .top {
  color: #fbfaf5;
}
body.dark main .contact .content .right .top svg {
  fill: #fbfaf5;
}
body.dark main .contact .content .right .bottom a svg {
  fill: #fbfaf5;
}
body.dark main .contact .content .left {
  color: #fbfaf5;
}
body.dark main .contact .content .left .text h2::-moz-selection {
  background-color: #fbfaf5;
}
body.dark main .contact .content .left .text h2::selection {
  background-color: #fbfaf5;
}
body.dark main .contact .content .left .text h5 span svg {
  fill: #fbfaf5;
}
body.dark main .contact .content .left .text h5::-moz-selection {
  background-color: #fbfaf5;
}
body.dark main .contact .content .left .text h5::selection {
  background-color: #fbfaf5;
}
body.dark main .contact .content .left form input, body.dark main #root .contact .content .left form textarea, #root body.dark main .contact .content .left form textarea {
  border-bottom: 2px solid #fbfaf5;
  color: #fbfaf5;
}
body.dark main .contact .content .left form input::-moz-placeholder, body.dark main #root .contact .content .left form textarea::-moz-placeholder, #root body.dark main .contact .content .left form textarea::-moz-placeholder {
  color: #fbfaf5;
}
body.dark main .contact .content .left form input::placeholder, body.dark main #root .contact .content .left form textarea::placeholder, #root body.dark main .contact .content .left form textarea::placeholder {
  color: #fbfaf5;
}
body.dark main .contact .content .left form input:-ms-input-placeholder, body.dark main #root .contact .content .left form textarea:-ms-input-placeholder, #root body.dark main .contact .content .left form textarea:-ms-input-placeholder {
  color: #fbfaf5;
}
body.dark main .contact .content .left form input::-ms-input-placeholder, body.dark main #root .contact .content .left form textarea::-ms-input-placeholder, #root body.dark main .contact .content .left form textarea::-ms-input-placeholder {
  color: #fbfaf5;
}
body.dark main .contact .content .left form input::-moz-selection, body.dark main #root .contact .content .left form textarea::-moz-selection, #root body.dark main .contact .content .left form textarea::-moz-selection {
  background-color: #fbfaf5;
}
body.dark main .contact .content .left form input::selection, body.dark main #root .contact .content .left form textarea::selection, #root body.dark main .contact .content .left form textarea::selection {
  background-color: #fbfaf5;
}
body.dark main .contact .content .left form button {
  color: #0a0f1b;
  background-color: #fbfaf5;
}
body.dark main .scroll-top {
  border: 2px solid #fbfaf5;
}
body.dark main .scroll-top span svg {
  fill: #fbfaf5;
}
body.dark #loader-container {
  background-color: #0a0f1b;
}

@media screen and (max-width: 768px) {
  body.dark main .mobile-nav {
    background-color: #fbfaf5;
  }
  body.dark main .mobile-nav .logo img:nth-child(1) {
    display: none;
  }
  body.dark main .mobile-nav .logo img:nth-child(2) {
    display: block;
  }
  body.dark main .mobile-nav .content a svg {
    fill: #0a0f1b;
  }
  body.dark main .mobile-nav .content .settings .dark-lang {
    background-color: #fbfaf5;
  }
  body.dark main .mobile-nav .content .settings .dark-lang .languages span {
    color: #0a0f1b;
  }
  body.dark main .mobile-nav .content .settings .dark-lang .dark-light-mode svg {
    fill: #0a0f1b;
  }
  body.dark main .homepage .img {
    border: 2px solid #fbfaf5;
  }
}/*# sourceMappingURL=main.css.map */